$mainColor: #6765C6;
.App{
  width: 300px;
  height: 510px;
  background: white;
  padding: 5px 20px 15px;
  font-size: 20px;
  font-weight: 400;
  color: #AEB1B6;

  a{
    text-decoration: none;
    color: #AEB1B6;
    font-size: 16px;
    margin: 5px;
    outline: none;
    cursor: pointer;
  }
  a:hover{
    color: $mainColor;
  }

  .button{
    background: $mainColor;
    width: 100%;
    color: white;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
  }
  .button:hover{
    opacity: 0.9;
  }
}