.App{
  height: 450px;
  background: white;
  padding: 5px 20px;
  font-size: 22px;
  font-weight: 400;
  color: #AEB1B6;

  .Navbar{
    height: 45px;

    .logo{
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    .close{
      font-size: 40px;
      cursor: pointer;
    }
    .close:hover{
      color: #6765C6;
    }
  }
}