$mainColor: #6765C6;

.Navbar{
	height: 45px;
	width: 100%;
	margin-bottom: 10px;

	.logo{
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}

	.close{
		font-size: 40px;
		cursor: pointer;
	}
	.close:hover{
		color: $mainColor;
	}

}
.Navbar.error{
	background: #E74357;
	width: 100vw;
	margin: -5px -40px;
	padding: 15px 20px 10px;
	height: 65px;
	color: white;

	.message{
		font-size: 14px;
		margin-top: 15px;
	}
}